@{
    ViewBag.Title = "Book Store";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p class="lead">@ViewData["Head"]</p>
    <ul class="warning">
        @foreach(string s in ViewBag.Fruit)
        {
            <li class="label-success">@s</li>
        }
    </ul>
</div>

<div>
    <h3>Book Saling</h3>
    <table>
        <tr>
            <td>Book Name</td>
            <td>Author</td>
            <td>Price</td>
            <td></td>
        </tr>
        @foreach(var b in ViewBag.Books)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Buy</a></p></td>
            </tr>
        }
    </table>
</div>